@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Beastly&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

body {
    background-image: url("images/bg.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
}

.content {
    display: inline;
    font-size: 2rem;
    font-family: "Press Start 2P", serif;
}

.strikethrough {
    display: inline-block;
    font-family: "Rubik Beastly", serif;
    font-size: 2.5rem;
    transform: translateY(-0.3rem);
}
.strikethrough::before, .strikethrough::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}
.strikethrough::before {
    border-bottom: 0.5rem solid rgba(255, 0, 0, 0.7);
    transform: skewY(-10deg);
}
.strikethrough::after {
    border-bottom: 0.5rem solid rgba(255, 0, 0, 0.7);
    transform: skewY(10deg);
}

ul {
    list-style-type: none;
}

.contacts {
    color: rgb(70, 70, 70);
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    margin: 0 auto;
    width: fit-content;
}
.contacts a {
    color: navy;
    text-decoration: none;
}