* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

body {
    background-image: url("images/bg.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
}

.content {
    display: inline;
    font-size: 2rem;
}

.strikethrough {
    text-decoration: line-through;
}