@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Beastly&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

body {
    background-image: url("images/bg.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
}

.content {
    display: inline;
    font-size: 2rem;
    font-family: "Press Start 2P";
}

.strikethrough {
    display: inline-block;
    font-family: "Rubik Beastly";
    font-size: 2.5rem;
    text-decoration: line-through;
    transform: translateY(-0.3rem);
}
